<h1>Formulir Edit Buku</h1>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label for="judul" class="form-label">Judul</label>
    <input type="text" class="form-control" id="judul" name="judul" value="<%= book.judul %>" required>
  </div>
  <div class="mb-3">
    <label for="penulis" class="form-label">Penulis</label>
    <input type="text" class="form-control" id="penulis" name="penulis" value="<%= book.penulis %>" required>
  </div>
  <div class="mb-3">
    <label for="penerbit" class="form-label">Penerbit</label>
    <input type="text" class="form-control" id="penerbit" name="penerbit" value="<%= book.penerbit %>">
  </div>
  <div class="mb-3">
    <label for="tahun_terbit" class="form-label">Tahun Terbit</label>
    <input type="number" class="form-control" id="tahun_terbit" name="tahun_terbit" value="<%= book.tahun_terbit %>">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <a href="/books" class="btn btn-secondary">Kembali</a>
</form>